.lesson-card {
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  background: #0e0e0e;
  animation: popup 0.5s;
  position: relative;
  p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .lesson-type{
    font-size: 14px;
    font-weight: 100;
  }

  &.completed {
    ::before {
      content: "Done ✔";
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 13px;
      color: #5db92678;
      font-weight: 100;
      opacity: 1;
      transition: opacity 0.15s ease;
    }
  }
  &:hover {
    border: rgba(255, 255, 255, 0.158) solid 1px;
    ::before {
      opacity: 0.3;
    }
  }
}

@keyframes popup {
  0% {
    padding: 2px;
  }
  50% {
    padding: 13px;
  }
  100% {
    opacity: 10px;
  }
}
