.lesson {
  display: flex;
  justify-content: center;
  .lestining {
    display: grid;
    justify-items: center;
    gap: 30px;
    audio {
      border: solid #494949 6px;
      border-radius: 2rem;
    }
    textarea {
      width: 671px;
      height: 174px;
      font-size: 18px;
      font-family: "Manrope";
      border-radius: 2rem;
      padding: 1rem;
    }
  }
}
