.lesson {
  display: flex;
  justify-content: center;
  .listening {
    display: grid;
    justify-items: center;
    gap: 30px;
    audio {
      border: solid #494949 6px;
      border-radius: 2rem;
    }
    textarea {
      width: 671px;
      height: 174px;
      min-width: 199px;
      min-height: 40px;
      max-width: 700px;
      max-height: 320px;
      font-size: 18px;
      font-family: "Manrope";
      border-radius: 2rem;
      padding: 1rem;
    }
  }
}
