.text-to-speech {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  gap: 5px;
  padding: 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
