/* Home.css */

.languages-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust column width as needed */
  gap: 20px; /* Adjust the gap between language cards */
}

.language-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.language-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
