.lesson-header {
  .back {
    display: flex;
    justify-content: space-between;
    .lesson-type {
      font-size: 10px;
      font-weight: 100;
      margin-left: 15px;
      color: #ffffff52;
      text-transform: capitalize;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 13px;
      transition: font-size 0.2s, color 0.3s;
    }
    a:hover {
      font-size: 14px;
      color: #ffffffb3;
      transition: font-size 0.2s, color 0.3s;
    }
  }
  .info {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .seperator {
    border-bottom: 4px solid #ffffff14;
    width: 60%;
    border-radius: 2rem;
    margin: auto;
    margin-bottom: 4rem;
  }
}
.comparison {
  .difference-correct {
    color: green;
  }
  .difference-wrong {
    color: red;
  }
  .neutral {
    color: white;
  }
}
