.content-container {
  position: relative;
}
.lesson-header {
  .back {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: white;
      font-size: 13px;
      transition: font-size 0.2s, color 0.3s;
    }
    a:hover {
      font-size: 14px;
      color: #ffffffb3;
      transition: font-size 0.2s, color 0.3s;
    }
  }
  .info {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .seperator {
    border-bottom: 4px solid #ffffff14;
    width: 60%;
    border-radius: 2rem;
    margin: auto;
    margin-bottom: 4rem;
  }
}
.comparison {
  .difference-correct {
    color: green;
  }
  .difference-wrong {
    color: red;
  }
  .neutral {
    color: white;
    display: none;
  }
  .passed {
    .neutral {
      color: white;
      display: unset;
    }
  }
}

.lesson-footer {
  position: absolute;
  bottom: 2%;
  user-select: none;
  .lesson-type {
    font-size: 10px;
    font-weight: 100;
    color: #ffffff52;
    text-transform: capitalize;
  }
  .feedback {
    .feedback-text {
      cursor: pointer;
    }
    font-size: 14px;
    color: gray;

    input {
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 1px;
      font-size: 1px;
      transition: height 0.2s, font-size 0.2s;
    }

    .feedback-form {
      opacity: 0;
      transition: opacity 0.2s;
      button {
        font-size: 0px;
        padding: 0px;
      }
      &.visible {
        opacity: 1;
        input {
          height: unset;
          font-size: unset;
        }
        button {
          font-size: 13px;
          padding: 8px 12px;
        }
      }
    }
  }
}
