$color_3: green;
$color_4: red;
$font-family_1: "Manrope", sans-serif;

@import "https://fonts.googleapis.com/css2?family=Manrope&display=swap";
.flex {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}
body {
  font-family: $font-family_1;
  background: black;
  animation: fadeIn 1s;
  h2 {
    font-size: 2.75rem;
    line-height: 3.25rem;
    font-weight: 700;
    letter-spacing: -1pt;
  }
  p {
    text-align: center;
  }
}
.content-container {
  background: #222327;
  margin: 1rem 2rem;
  padding: 1.5rem;
  border-radius: 2rem;
  color: white;
  height: 80vh;
}

.success-feedback {
  color: $color_3;
}
.error-feedback {
  color: $color_4;
}
.lessons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

.lesson-type {
  font-weight: bold;
}

nav {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    padding: 5px;
  }


  .icons {
    background: unset;
    font-size: 21px;
    display: flex;
    margin: 0;
    &:hover {
      background: rgb(255 255 255 / 11%);
    }
  }

  a.active {
    color: #ffffff;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
